root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# [*.{js,jsx,ts,tsx,json,yaml,yml}]
# Herda todas as configurações de [*] e aplica para estas extensões

[*.md]
trim_trailing_whitespace = false

[Dockerfile]
indent_size = 4
